.App {
	text-align: center;
}

/* * {
	border: 1px solid red;
} */

/******** Utilities  ********/
.left-align {
	text-align: left;
}

/******    APP  *******/
.users-and-posts-wrapper {
	padding-top: 20px;
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.users-container {
	display: flex;
	flex-direction: column;
	align-content: center;
	border: 1px solid #555;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: auto;
}

.users-button {
	border-radius: 0px;
	margin: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.posts-container {
	border: 1px solid #444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 24px;
  padding: 5px;
}

.comments-icon {
	margin-right: 0.45em;
}
.likes-icon {
	margin-right: 0.15em;
}

.post-message {
	text-align: left;
}

.post-message-comments-likes-icon-container
 {
	max-width: 100%;

}
.likes-icon-total-likes-wrapper {
	padding: 0 0 0 10px;
}
.comments-icon-total-comments-wrapper {
	padding: 0 10px 0 0;
}

.comments-likes-wrapper {
	margin-bottom: 0;
	font-size: 0.68em;
	display: flex;
}
.comment-message {
	border-radius: 5px;
	padding: 5px;
	border: 1px solid #444;
	background-color: #eee;
	font-size: 0.8em;
	font-style: italic;
}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}

/****** Speech Bubble  ********/
.speech-bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 32px solid transparent;
	border-right-color: #00aabb;
	border-left: 0;
	border-top: 0;
	margin-top: -16px;
	margin-left: -32px;
}


.timeline-wrapper {
	padding: 15px;
	border-radius: 10px;
	width: 60%;
	border: 1px solid #444;
}
