.App {
	text-align: center;
}

/* * {
	border: 1px solid red;
} */

/******** Utilities  ********/
.left-align {
	text-align: left;
}

/******    APP  *******/
.users-and-posts-wrapper {
	padding-top: 20px;
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.users-container {
	display: flex;
	flex-direction: column;
	align-content: center;
	border: 1px solid #555;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: auto;
}

.users-button {
	border-radius: 0px;
	margin: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.timeline-wrapper {
	padding: 15px;
	border-radius: 10px;
  width: 60%;
  max-width: 460px;
	/* border: 1px solid #444; */
}
.posts-container {
  border: 1px solid #444;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 24px;
  padding: 0;
  overflow: hidden;
 
}


.comments-icon {
	margin-right: 0.45em;
}
.likes-icon {
  margin-right: 0.15em;
}

.likes-icon-svg{
  cursor: pointer;
}

/******* post section ******/
.post-message {
  text-align: left;
  padding-left: 8px;
}
.addNewPost {
  border-radius: 4px;
  resize: none;
  width: 100%;
}

.addNewPostForm {
  text-align: left;
}

.addNewPostButton {
  border-radius: 4px;
}

.add-new-post-textarea-and-post-button-wrapper {
  margin-bottom: 20px;
}
.post-message-comments-likes-icon-container
 {
	max-width: 100%;

}
.likes-icon-total-likes-wrapper {
	padding: 0 0 0 10px;
}
.comments-icon-total-comments-wrapper {
	padding: 0 10px 0 0;
}

.comments-likes-wrapper {
  margin-bottom: 0;
	font-size: 0.68em;
  display: flex;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  padding: 6px 0px 6px 10px;

}

/******** comments section ********/
.post-comments {
  padding-left: 10px;
  text-align: left;
  margin-top: 4px;
  margin-bottom: 4px;
}
.comment-message {
  text-align: left;
	font-size: 0.8em;
  font-style: italic;
  padding: 4px;
  width: max-content;
}

.addComment {
  resize: none;
  border-radius: .4em;
}


/****** Speech Bubble  ********/
.speech-bubble {
	position: relative;
	background: #63adba;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-right-color: #63adba;
	border-left: 0;
	border-top: 0;
	margin-top: -3px;
	margin-left: -6px;
}


